body {
  margin-left: 20pt;
  padding: 0;
  font-family: sans-serif;
 background-color: #EFEFEF;
}
.outer{	
	background-color: white;
	width: 400px;
	height: 400px;
	position: relative;
	top: 100px;
	overflow-y: scroll;
	overflow-x: hidden;
	border:1px solid;
	
}
::-webkit-scrollbar {
width: 12px;
}

img{
    width: 150px;
}
.circleImg{
  border:1px solid;
  border-radius: 100px;
  border-color:#AFAFAF;
  width:150px;
  height:150px;

}
