body {
  margin-left: 20pt;
  padding: 0;
  font-family: sans-serif;
 background-color: #EFEFEF;
}
.outer{	
	background-color: white;
	width: 700px;
	height: 600px;
	position: relative;
	top: 100px;
	overflow-y: scroll;
	overflow-x: hidden;
	border:1px solid #AFAFAF;
	border-radius: 20px;
	box-shadow: 0 2.5px 2px #AFAFAF;
	
}
::-webkit-scrollbar {
width: 12px;
}

img{
    width: 150px;
	margin-left: 15px;
}
.circleImg{
  border:1px solid;
  border-radius: 100px;
  border-color:#AFAFAF;
  width:150px;
  height:150px;

}

.info{
	margin-left: 25px;
	color:#6F6F6F
}

.name{
	text-transform: uppercase;
}

